#iconToday {
  width: 100px;
  height: 100px;
}
.temperatureDiv {
  font-size: 3em;
}
#unitSymbols {
  font-size: 50%;
  vertical-align: top;
}
#styleGiver {
  max-width: 1000px;
  margin-top: 50px;
}
h3 {
  padding: 20px;
}
#currentPositionDiv {
  padding-top: 10px;
}
#searchFormDiv {
  padding: 10px;
  vertical-align: middle;
}
